.btn {
  border-radius: $space-xs;
  color: $color-primary;
  font-size: $text-sm;
  font-weight: 600;
  letter-spacing: 2px;
}

.btn-primary {
  width: 100%;
  padding: $space-sm $space-md;
  border: none;
  background-color: $blue;
}

.btn-secondary {
  width: 100%;
  padding: $space-sm $space-md;
  border: 2px solid $color-primary;
  background: none;
}

.btn-submit {
  margin-top: $space-md;
}

.btn-register {
  margin-bottom: $space-lg;
}