@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin transition-sm {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
