<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../partials/head', { data: data } ) %>
  </head>
  <body>
    <header class="header header-login">
      <h4 class="header-subtitle"><%- data %></h4>
    </header>
    <main class="container m-login">
      <form class="form form-login" action="/login" method="post">
        <div class="input-group">
          <input type="text" class="input input-text" id="name" name="name" autocomplete="off" required />
          <label for="name" class="input-label input-label--username">
            <span class="input-label--content">Username</span>
            <i class="input-label--icon ms-Icon ms-Icon--Contact" aria-hidden="true"></i>
          </label>
        </div>
        <div class="input-group">
          <input type="password" class="input input-text" id="password" name="password" autocomplete="off" required />
          <label for="password" class="input-label input-label--password">
            <span class="input-label--content">Password</span>
            <i class="input-label--icon ms-Icon ms-Icon--View" aria-hidden="true"></i>
          </label>
        </div>
        <button class="btn btn-primary btn-submit">Login</button>
      </form>
      <section class="login-links">
        <a href="/register" class="link link-register">
          <button class="btn btn-secondary btn-register">Register</button>
        </a>
        <a href="#" class="link link-forgotten">Forgot my password?</a>
      </section>
    </main>
  </body>
</html>
