.m-dashboard {
  width: 100%;
  height: auto;
  padding: $space-sm $space-md;
}

.user-title {
  margin: $space-sm 0;
  @include flex-row;
}

.user-subtitle {
  font-weight: 400;
}

.user-info {
  font-size: $text-sm;
  font-weight: 300;
  line-height: $text-lg;
}